@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'micro';
    src: url('../fontes/Micro5-Regular.ttf') format(truetype);
}
@font-face {
    font-family: 'idroid';
    src: url('../fontes/IDroid.otf') format(opentype);
}
    :root {
        --cor0:#c5ebd6;
        --cor1:#84E0AC;
        --cor2:#3ddb6c;
        --cor3:#3DDB82;
        --cor4:#3DDB4D;
        --cor5:#217a2a;

        --fonte-padrao: Arial, Helvetica, sans-serif;
        --fonte-destaque: 'idroid', 'micro', sans-serif;
    }
    * {
        margin: 0px;
        padding: 0px;
    }
    body {
        background-color: var(--cor0);

    }
    a.externo::after {
        content: '\00A0\1F517';
    }
    header {
        background-color: var(--cor1);
        min-height: 150px;
        padding-top: 40px;
        text-align: center;
        background-image: linear-gradient(to bottom, var(--cor0), var(--cor1));
    }
    header > h1 {
        font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
        font-weight: lighter;
        font-size: 2.5em;
        color: white;
        margin-bottom: 20px;
        margin-top: 10px;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.205);
    }
    header > p {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
        font-size: 1.2em;
        color: white;
        max-width: 600px;
        padding-left: 10px;
        padding-right: 10px;
        margin: auto;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.205);
    }
    nav {
        background-color: var(--cor1);
        padding: 10px;
        box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.26);
    }
    nav > a {
        color: white;
        text-decoration: none;
        padding: 10px;
        font-family: var(--fonte-padrao);
        font-weight: bold;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.205);
        transition-duration: 0.3s;
    }
    nav > a:hover {
        background-color: var(--cor3);
        color: var(--cor5);
    }
    .varios{
       text-align: justify;
       font-family: 'idroid', Arial, Helvetica, sans-serif;
       font-weight: lighter;
       font-size: 1.4em;
       color: #2fa03a;
       background-image: linear-gradient(to right, var(--cor0), transparent);
    }
    main {
        text-align: center;
        background-color: white;
        min-width: 300px;
        max-width: 1000px;
        margin: auto;
        margin-bottom: 30px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.336);
        border-bottom-left-radius: 13px;
        border-bottom-right-radius: 13px;

    } 
    main strong {
        color: var(--cor5);
        font-weight: bold;
    } 
    main a {
        background-color: var(--cor1);
        text-decoration: none;
        font-weight: bold;
        color: var(--cor5);

    }
    main a:hover {
        text-decoration: underline;
        color: var(--cor4);
    }
     main h1 {
        font-family: var(--fonte-destaque);
        text-indent: 15px;
        text-align: justify;
        color: var(--cor5);
        background-image: linear-gradient(to right, var(--cor0), transparent);
    }
    main p { 
        font-family: var(--fonte-padrao);
        text-align: justify;
        text-indent: 30px;
        margin: 20px 0px;
        line-height: 1.5em;
    }
    main img {
        display: block;
        margin: auto;
    }
    div.video {
        background-color: var(--cor3);
        margin: 0px -20px 30px -20px;
        padding: 20px;
        position: relative;
        padding-bottom: 57%;
    }
    div.video > iframe {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;

    }
    article {
        text-align: center;
        text-indent: 20px;
        text-align: justify;
    }
    aside {
        background-color: var(--cor0);
        border-radius: 13px;
        padding: 10px;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.336);
    }
    aside > h3 {
        background-color: var(--cor3);
        color: white;
        padding: 10px;
        border-top-left-radius: 13px;
        border-top-right-radius: 13px;
        font-family: var(--fonte-padrao);
        font-weight: lighter;
        margin: -10px -10px 0 -10px;
    }
    aside > ul {
        list-style-position: inside;
        columns: 2;
    }
    footer {
        font-family: var(--fonte-padrao);
        background-color: var(--cor3);
        color: white;
        text-align: center;
        padding: 5px;

    }
    footer a {
        text-decoration: none;
        color: white;
        font-weight: bolder;
    }
    footer a:hover {
        text-decoration: underline;
        color: var(--cor1);
    }